.forgot-password-otp-container {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.container-for-forgot-password {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
	padding: 2em;
	background-color: rgb(255, 190, 110);
	width: 25em;
}

.verify-my-account-to-reset-password {
	background-color: green;
	color: white;
	border: none;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.8em;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.square-box {
	width: 2em;
	height: 2em;
	padding: 0.6em;
	font-size: 1.2rem;
}