.loginSignup {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em 4em 4em 4em;
}

.otpmodal {
	background-color: white;
	position: fixed;
	top: 7em;
	border: 2px solid black;
}

.loginSignup-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	width: 450px;
	height: 450px;
	padding: 2em;
	background-color: rgb(43, 43, 43);
	border-radius: 8px;
}

.forgot-password-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	width: 410px;
	height: 360px;
	padding: 1.5em;
	background-color: rgb(43, 43, 43);
	border-radius: 8px;
}

.loginSignup-fields {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.5em;
	margin: 1em 0;
}

.loginSignup-fields input {
	height: 2em;
	padding-left: 0.5em;
	border: 1.5px solid gray;
	border-radius: 4px;
	font-size: 1rem;
}

.loginSignup-agree {
	display: flex;
	gap: 0.5em;
	align-items: center;
}

.loginSignup-agree input {
	margin-bottom: -2.8px;
}

.btnSubmit {
	width: 100%;
	background-color: red;
	border: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0.5em 0;
	border-radius: 4px;
	cursor: pointer;
}

.btnSubmit:hover {
	background-color: green;
	transition: all 0.2s ease-in-out;
}

.signup-text {
	font-size: 3rem;
	font-style: italic;
	color: white;
}

.reset-password-text {
	font-size: 2.8rem;
	font-style: italic;
	color: white;
}

.loginSignup p {
	color: white;
	font-weight: bold;
	font-style: italic;
}

.login-span {
	color: red;
	cursor: pointer;
}

.forgot-password-login .forgot-password {
	color: rgb(131, 131, 255);
	cursor: pointer;
	text-decoration: underline;
}

.forgot-password-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.8em;
}

/* MEDIUM PHONES */
@media (max-width: 650px) {
	.loginSignup {
		margin: 2em 1em 2em 1em;
	}

	.loginSignup-container {
		gap: 1em;
		width: 450px;
		height: 450px;
		padding: 1em;
		background-color: rgb(43, 43, 43);
		border-radius: 8px;
	}

	.loginSignup-agree p {
		font-size: 1rem;
	}
}

/* FOR SMALL PHONES */
@media (max-width: 450px) {
	.loginSignup {
		margin: 2em 1em 2em 1em;
	}

	.loginSignup-container {
		gap: 1em;
		width: 450px;
		height: 450px;
		padding: 1em;
		background-color: rgb(43, 43, 43);
		border-radius: 8px;
	}

	.loginSignup-agree p {
		font-size: 0.8rem;
	}
}